# Core functionality - changes here should be rare!
/src/app.py                   @wyc-111
/src/backend/database.py      @wyc-111
/src/backend/routers/auth.py  @wyc-111

# The frontend will need refactored soon to be more object oriented.
/src/static/   @wyc-111
